body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-login {
  background-color: #f9f9ff;
  background-size: cover;
}

.bg-login-pic {
  background: url("../image/login-dog.jpeg");
  background-position: center;
  background-size: cover;
}
